.creatorCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: var(--fg2);
  > div {
    position: unset !important;
  }
  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    border-radius: 100%;
    overflow: hidden;
  }
  .name {
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
    p {
      font-weight: bold;
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
    svg {
      margin-left: 15px;
      color: var(--primary);
    }
  }
  &:hover {
    color: var(--fg3);
  }
}
